html.dark {
  color-scheme: dark;
  --yh-color-primary: #589ef8;
  --yh-color-primary-light-3: #4475b4;
  --yh-color-primary-light-5: #365986;
  --yh-color-primary-light-7: #283d58;
  --yh-color-primary-light-8: #223042;
  --yh-color-primary-light-9: #1b222b;
  --yh-color-primary-dark-2: #79b1f9;
  --yh-color-success: #21ba45;
  --yh-color-success-light-3: #1d8836;
  --yh-color-success-light-5: #1b672d;
  --yh-color-success-light-7: #184623;
  --yh-color-success-light-8: #17351e;
  --yh-color-success-light-9: #152519;
  --yh-color-success-dark-2: #4dc86a;
  --yh-color-warning: #f2711c;
  --yh-color-warning-light-3: #af551a;
  --yh-color-warning-light-5: #834318;
  --yh-color-warning-light-7: #573016;
  --yh-color-warning-light-8: #402716;
  --yh-color-warning-light-9: #2a1d15;
  --yh-color-warning-dark-2: #f58d49;
  --yh-color-danger: #db2828;
  --yh-color-danger-light-3: #9f2222;
  --yh-color-danger-light-5: #781e1e;
  --yh-color-danger-light-7: #501a1a;
  --yh-color-danger-light-8: #3c1818;
  --yh-color-danger-light-9: #281616;
  --yh-color-danger-dark-2: #e25353;
  --yh-color-error: #db2828;
  --yh-color-error-light-3: #9f2222;
  --yh-color-error-light-5: #781e1e;
  --yh-color-error-light-7: #501a1a;
  --yh-color-error-light-8: #3c1818;
  --yh-color-error-light-9: #281616;
  --yh-color-error-dark-2: #e25353;
  --yh-color-info: #42b8dd;
  --yh-color-info-light-3: #3487a1;
  --yh-color-info-light-5: #2b6679;
  --yh-color-info-light-7: #224550;
  --yh-color-info-light-8: #1d353c;
  --yh-color-info-light-9: #192428;
  --yh-color-info-dark-2: #68c6e4;
  --yh-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --yh-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --yh-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --yh-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000,
    0px 8px 16px -8px #000000;
  --yh-bg-color-page: #0a0a0a;
  --yh-bg-color: #141414;
  --yh-bg-color-overlay: #1d1e1f;
  --yh-text-color-primary: #e5eaf3;
  --yh-text-color-regular: #cfd3dc;
  --yh-text-color-secondary: #a3a6ad;
  --yh-text-color-placeholder: #8d9095;
  --yh-text-color-disabled: #6c6e72;
  --yh-border-color-darker: #636466;
  --yh-border-color-dark: #58585b;
  --yh-border-color: #4c4d4f;
  --yh-border-color-light: #414243;
  --yh-border-color-lighter: #363637;
  --yh-border-color-extra-light: #2b2b2c;
  --yh-fill-color-darker: #424243;
  --yh-fill-color-dark: #39393a;
  --yh-fill-color: #303030;
  --yh-fill-color-light: #262727;
  --yh-fill-color-lighter: #1d1d1d;
  --yh-fill-color-extra-light: #191919;
  --yh-fill-color-blank: transparent;
  --yh-mask-color: rgba(0, 0, 0, 0.8);
  --yh-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}
