:root {
  --yh-color-primary: #731313;
  --yh-color-primary-light-1: #812b2b;
  --yh-color-primary-dark-1: #812b2b;
  --yh-color-primary-light-2: #8f4242;
  --yh-color-primary-dark-2: #8f4242;
  --yh-color-primary-light-3: #9d5a5a;
  --yh-color-primary-dark-3: #9d5a5a;
  --yh-color-primary-light-4: #ab7171;
  --yh-color-primary-dark-4: #ab7171;
  --yh-color-primary-light-5: #b98989;
  --yh-color-primary-dark-5: #b98989;
  --yh-color-primary-light-6: #c7a1a1;
  --yh-color-primary-dark-6: #c7a1a1;
  --yh-color-primary-light-7: #d5b8b8;
  --yh-color-primary-dark-7: #d5b8b8;
  --yh-color-primary-light-8: #e3d0d0;
  --yh-color-primary-dark-8: #e3d0d0;
  --yh-color-primary-light-9: #f1e7e7;
  --yh-color-primary-dark-9: #f1e7e7;
}
