:root {
  --yh-color-white: #ffffff;
  --yh-color-black: #000000;
  --yh-color-primary: green;
  --yh-color-primary-light-3: #4da64d;
  --yh-color-primary-light-5: #80c080;
  --yh-color-primary-light-7: #b3d9b3;
  --yh-color-primary-light-8: #cce6cc;
  --yh-color-primary-light-9: #e6f2e6;
  --yh-color-primary-dark-2: #006600;
  --yh-color-success: #21ba45;
  --yh-color-success-light-3: #64cf7d;
  --yh-color-success-light-5: #90dda2;
  --yh-color-success-light-7: #bceac7;
  --yh-color-success-light-8: #d3f1da;
  --yh-color-success-light-9: #e9f8ec;
  --yh-color-success-dark-2: #1a9537;
  --yh-color-warning: #f2711c;
  --yh-color-warning-light-3: #f69c60;
  --yh-color-warning-light-5: #f9b88e;
  --yh-color-warning-light-7: #fbd4bb;
  --yh-color-warning-light-8: #fce3d2;
  --yh-color-warning-light-9: #fef1e8;
  --yh-color-warning-dark-2: #c25a16;
  --yh-color-danger: #db2828;
  --yh-color-danger-light-3: #e66969;
  --yh-color-danger-light-5: #ed9494;
  --yh-color-danger-light-7: #f4bfbf;
  --yh-color-danger-light-8: #f8d4d4;
  --yh-color-danger-light-9: #fbeaea;
  --yh-color-danger-dark-2: #af2020;
  --yh-color-error: #db2828;
  --yh-color-error-light-3: #e66969;
  --yh-color-error-light-5: #ed9494;
  --yh-color-error-light-7: #f4bfbf;
  --yh-color-error-light-8: #f8d4d4;
  --yh-color-error-light-9: #fbeaea;
  --yh-color-error-dark-2: #af2020;
  --yh-color-info: #42b8dd;
  --yh-color-info-light-3: #7bcde7;
  --yh-color-info-light-5: #a1dcee;
  --yh-color-info-light-7: #c6eaf5;
  --yh-color-info-light-8: #d9f1f8;
  --yh-color-info-light-9: #ecf8fc;
  --yh-color-info-dark-2: #3593b1;
  --yh-bg-color: #ffffff;
  --yh-bg-color-page: #f2f3f5;
  --yh-bg-color-overlay: #ffffff;
  --yh-text-color-primary: #303133;
  --yh-text-color-regular: #606266;
  --yh-text-color-secondary: #909399;
  --yh-text-color-placeholder: #a8abb2;
  --yh-text-color-disabled: #c0c4cc;
  --yh-border-color: #dcdfe6;
  --yh-border-color-light: #e4e7ed;
  --yh-border-color-lighter: #ebeef5;
  --yh-border-color-extra-light: #f2f6fc;
  --yh-border-color-dark: #d4d7de;
  --yh-border-color-darker: #cdd0d6;
  --yh-fill-color: #f0f2f5;
  --yh-fill-color-light: #f5f7fa;
  --yh-fill-color-lighter: #fafafa;
  --yh-fill-color-extra-light: #fafcff;
  --yh-fill-color-dark: #ebedf0;
  --yh-fill-color-darker: #e6e8eb;
  --yh-fill-color-blank: #ffffff;
  --yh-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --yh-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --yh-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --yh-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12),
    0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --yh-disabled-bg-color: var(--yh-fill-color-light);
  --yh-disabled-text-color: var(--yh-text-color-placeholder);
  --yh-disabled-border-color: var(--yh-border-color-light);
  --yh-overlay-color: rgba(0, 0, 0, 0.8);
  --yh-overlay-color-light: rgba(0, 0, 0, 0.7);
  --yh-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --yh-mask-color: rgba(255, 255, 255, 0.9);
  --yh-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --yh-border-width: 1px;
  --yh-border-style: solid;
  --yh-border-color-hover: var(--yh-text-color-disabled);
  --yh-border: var(--yh-border-width) var(--yh-border-style) var(--yh-border-color);
  --yh-svg-monochrome-grey: var(--yh-border-color);
  --yh-color-primary-rgb: 0, 128, 0;
  --yh-color-success-rgb: 33, 186, 69;
  --yh-color-warning-rgb: 242, 113, 28;
  --yh-color-danger-rgb: 219, 40, 40;
  --yh-color-error-rgb: 219, 40, 40;
  --yh-color-info-rgb: 66, 184, 221;
  --yh-font-size-extra-large: 20px;
  --yh-font-size-large: 18px;
  --yh-font-size-medium: 16px;
  --yh-font-size-base: 14px;
  --yh-font-size-small: 13px;
  --yh-font-size-extra-small: 12px;
  --yh-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --yh-font-weight-primary: 500;
  --yh-font-line-height-primary: 24px;
  --yh-index-normal: 1;
  --yh-index-top: 1000;
  --yh-index-popper: 2000;
  --yh-border-radius-base: 4px;
  --yh-border-radius-small: 2px;
  --yh-border-radius-round: 20px;
  --yh-border-radius-circle: 100%;
  --yh-transition-duration: 0.3s;
  --yh-transition-duration-fast: 0.2s;
  --yh-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  --yh-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  --yh-transition-all: all var(--yh-transition-duration)
    var(--yh-transition-function-ease-in-out-bezier);
  --yh-transition-fade: opacity var(--yh-transition-duration)
    var(--yh-transition-function-fast-bezier);
  --yh-transition-md-fade: transform var(--yh-transition-duration)
      var(--yh-transition-function-fast-bezier),
    opacity var(--yh-transition-duration) var(--yh-transition-function-fast-bezier);
  --yh-transition-fade-linear: opacity var(--yh-transition-duration-fast) linear;
  --yh-transition-border: border-color var(--yh-transition-duration-fast)
    var(--yh-transition-function-ease-in-out-bezier);
  --yh-transition-box-shadow: box-shadow var(--yh-transition-duration-fast)
    var(--yh-transition-function-ease-in-out-bezier);
  --yh-transition-color: color var(--yh-transition-duration-fast)
    var(--yh-transition-function-ease-in-out-bezier);
  --yh-component-size-large: 40px;
  --yh-component-size: 32px;
  --yh-component-size-small: 24px;
}
